{% extends 'index.html' %}
{% block title %}Fuel Quote History{% endblock %}

{% block content %}
    <h1>Fuel Quote History</h1>
    <table>
        <thead>
            <tr>
                <th>Gallons Requested</th>
                <th>Delivery Address</th>
                <th>Delivery Date</th>
                <th>Suggested Price / gallon</th>
                <th>Total Amount Due</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>200</td>
                <td>4400 Cougar Village, Houston, Tx, 77229</td>
                <td>2024-02-20</td>
                <td>$2.79</td>
                <td>$300.00</td>
            </tr>
        </tbody>
    </table>
{% endblock %}