{% extends 'index.html' %}
{% block title %}Fuel Quote Form{% endblock %}
{% block content %}
    <h1>Fuel Quote</h1>
    <form name="fuel_quote_history_form" method="POST">
        <label for="gallons_requested">Gallons Requested:</label><br>
        <input type="number" step="0.01" id="gallons_requested" name="gallons_requested" value="{{ gallons_requested }}" required><br><br>

        <label for="delivery_address">Delivery Address:</label><br>
        <input type="text" id="delivery_address" name="delivery_address" value="{{ delivery_address }}"><br><br>

        <label for="delivery_date">Delivery Date:</label><br>
        <input type="date" id="delivery_date" name="delivery_date" value="{{ delivery_date }}"><br><br>

        <label for="suggested_price">Suggested Price / gallon:</label><br>
        <input type="number" step="0.01" id="suggested_price" name="suggested_price" value="{{ suggested_price }}"><br><br>

        <label for="total_amount_due">Total Amount Due:</label><br>
        <input type="number" step="0.01" id="total_amount_due" name="total_amount_due" value="{{ total_amount_due }}" readonly><br><br>

        <input type="submit" value="Submit">
    </form>
    <script>
        function validateForm() {
            var gallonsRequested = document.getElementById("gallons_requested").value;
            var deliveryDate = document.getElementById("delivery_date").value;

            // Check if Gallons Requested is a valid number
            if (isNaN(gallonsRequested) || gallonsRequested <= 0) {
                alert("Gallons Requested must be a valid number greater than 0");
                return false;
            }

            // Check if Delivery Date is provided
            if (!deliveryDate) {
                alert("Please select a Delivery Date");
                return false;
            }

            return true;
        }

    </script>
{% endblock %}
