{% extends 'index.html' %}
{% block title %}Fuel Quote Form{% endblock %}
{% block content %}
    <section>
        <h1>Fuel Quote</h1>
        <form name="fuel_quote_history_form" method="POST">
            <div class="form-floating">
                <input class="form-control" type="number" step="0.01" id="gallons_requested" name="gallons_requested" value="{{ gallons_requested }}" placeholder="5.00" required>
                <label for="gallons_requested">Gallons Requested:</label>    
            </div>
            <div class="form-floating">
                <input class="form-control" type="date" id="delivery_date" name="delivery_date" value="{{ delivery_date }}" placeholder="2024-04-14">
                <label for="delivery_date">Delivery Date:</label>    
            </div>
            <div class="form-floating">
                <input class="form-control-plaintext" type="text" id="delivery_address" name="delivery_address" value="{{ delivery_address }}" placeholder="123 Main St Unit#405, Houston, TX, 77002" readonly>
                <label for="delivery_address">Delivery Address:</label>    
            </div>
            <div class="form-floating">
                <input class="form-control-plaintext" type="number" step="0.01" id="suggested_price" name="suggested_price" value="{{ suggested_price }}" placeholder="2.00" readonly>
                <label for="suggested_price">Suggested Price / gallon:</label>    
            </div>
            <div class="form-floating">
                <input class="form-control-plaintext" type="number" step="0.01" id="total_amount_due" name="total_amount_due" value="{{ total_amount_due }}" placeholder="10.00" readonly>
                <label for="total_amount_due">Total Amount Due:</label>     
            </div>
            
            <input id="submit-btn" type="submit" value="Submit">
        </form>
    </section>
    
    <script>
        function validateForm() {
            var gallonsRequested = document.getElementById("gallons_requested").value;
            var deliveryDate = document.getElementById("delivery_date").value;

            // Check if Gallons Requested is a valid number
            if (isNaN(gallonsRequested) || gallonsRequested <= 0) {
                alert("Gallons Requested must be a valid number greater than 0");
                return false;
            }

            // Check if Delivery Date is provided
            if (!deliveryDate) {
                alert("Please select a Delivery Date");
                return false;
            }

            return true;
        }
        let record = "{{onRecord}}";
        if (record == "True"){
            //document.getElementById("").classList.add('hide-my-btn');
            let fullAddress = ("{{address2}}" == "") ? "{{address1}}, \n{{city}}, {{state}} \n{{zipCode}}" 
                                        :"{{address1}} {{address2}}, \n{{city}}, {{state}} \n{{zipCode}}";
            document.getElementById("delivery_address").setAttribute('value',fullAddress);
            document.getElementById("submit-btn").removeAttribute("disabled", "");
            document.getElementById("submit-btn").setAttribute("enabled", "");

        }else{
            document.getElementById("submit-btn").removeAttribute("enabled", "");
            document.getElementById("submit-btn").setAttribute("disabled", "");
        }

    </script>
{% endblock %}
