<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Home Page{% endblock %}</title>
        <meta name="description" content="Software Application that predicts the rate of the fuel">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='cstyle.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>  
        {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %} 
                <ul class=flashes>
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %} 
        {% endwith %}
        <div>
            {% block content %}
            Home Page
            {% endblock %}
        </div>
        <!--<script src="" async defer></script> -->
        
    </body>
</html>