<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='cstyle.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        <title>User Login</title>
    </head>

    <body>
        <form name = "login_form" method="POST">
        <div class = "center">
            <h1>Welcome</h1>
            <label for = 'username'>Username</label>
            <input type="text" name="username" required>
            <br></br>
            <label for = 'password' required>Password</label>
            <input type="password" name="password" required>
            <br>
            <input type="submit" class="btn btn-primary" name="reg" value="Register">
            <input type="submit" class="btn btn-success" name="log_in" value="Log In">
            </br>
        </div>
        </form>
    </body>
</html>